<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/body.css">
    <link rel="stylesheet" type="text/css" href="../css/aside.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/media.css">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <script src="../javascript/signup.js"></script>
    <title>Trackgenix landing</title>
</head>
<body>
    <aside id="aside-mobile-tablet">
        <img src="../assets/shape.png" alt="nav-button">
    </aside>
    <aside id="aside-desktop">
        <div>
            <div>
                <h2>
                    <a href="index.html">Home</a>
                </h2>
            </div>
        </div>
        <div class="sidebar-midbox">
            <h3>
                <a href="signup.html">Sign Up</a>
            </h3>
            <h3>
                <a href="login.html">Log In</a>
            </h3>
        </div>
        <div>
            <h3>Contact</h3>
        </div>
    </aside>
    <main>
        <section class="theme" id="signup">
            <h2>
                Trackgenix
            </h2>
            <div class="theme-content">
                <div class="form-div">
                    <h3>
                        Sign Up
                    </h3>
                    <form action="sign-up" class="form-login-signup" id="form-signup">
                        <fieldset>
                            <div class="row">
                                <div class="column">
                                    <div class="signup-input">
                                        <h4>
                                            First name
                                        </h4>
                                        <input class="signup-input" type="text" name="first name" id="first-name">
                                        <p id="first-name-error-msg">
                                        </p>
                                    </div>
                                    <div class="signup-input">
                                        <h4>
                                            Last name
                                        </h4>
                                        <input class="signup-input" type="text" name="last name" id="last-name">
                                        <p id="last-name-error-msg">
                                        </p>
                                    </div>
                                    <div class="signup-input">
                                        <h4>
                                            DNI
                                        </h4>
                                        <input class="signup-input" type="text" name="DNI" id="dni">
                                        <p id="dni-error-msg">
                                        </p>
                                    </div>
                                    <div class="signup-input">
                                        <h4>
                                            Birth Date
                                        </h4>
                                        <input class="signup-input" type="date" name="birth-date" id="birth-date">
                                        <p id="birth-date-error-msg">
                                        </p>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="signup-input">
                                        <h4>
                                            Telephone
                                        </h4>
                                        <input class="signup-input" type="text" name="telephone" id="telephone">
                                        <p id="telephone-error-msg">
                                        </p>
                                    </div>
                                    <div class="signup-input">
                                        <h4>
                                            Address
                                        </h4>
                                        <input class="signup-input" type="text" name="address" id="address">
                                        <p id="address-error-msg">
                                        </p>
                                    </div>
                                    <div class="signup-input">
                                        <h4>
                                            Region
                                        </h4>
                                        <input class="signup-input" type="text" name="region" id="region">
                                        <p id="region-error-msg">
                                        </p>
                                    </div>
                                    <div class="signup-input">
                                        <h4>
                                            Postal Code
                                        </h4>
                                        <input class="signup-input" type="text" name="postal-code" id="postal-code">
                                        <p id="postal-code-error-msg">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="signup-input">
                                    <h4>
                                        Email
                                    </h4>
                                    <input class="signup-input" type="text" name="email" id="email">
                                    <p id="email-error-msg">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="signup-input">
                                    <h4>
                                        Password
                                    </h4>
                                    <input class="signup-input" type="password" name="password" id="password">
                                    <p id="password-error-msg">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="signup-input">
                                    <h4>
                                        Repeat password
                                    </h4>
                                    <input class="signup-input" type="password" name="password-repeat" id="password-repeat">
                                    <p id="password-repeat-error-msg">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" name="confirm" id="signup-button" class="confirm-button">
                                    Create
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="theme-content-item">
            <img src="../assets/facebook.svg" alt="facebook-logo" class="logo">
            <img src="../assets/twitter.svg" alt="twitter-logo" class="logo">
            <img src="../assets/linkedin.svg" alt="linkedin-logo" class="logo">
            <img src="../assets/instagram.svg" alt="instagram-logo" class="logo">
        </div>
        <p>
            Rosario, Argentina
        </p>
        <p>
            Copyright &copy; 2022 Radium Rocket. All rights reserved
        </p>
    </footer>
</body>
</html>