/*body*/
body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*aside*/
aside{
    background: red;
    display: flex;
    justify-content: space-around;
    padding: 2% 0%;
    width: 100%;
    font-size: 15px;
}

aside h2, aside h3{
    color: white;
}

.sidebar-midbox{
    display: flex;
}

.sidebar-midbox h3{
    margin: 0px 5px;
}

/*main*/
main{
    align-content: center;
    margin: 2% 0%;
}

/*footer*/
footer{
    background: red;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .theme-content-item{
    width: 100%;
    justify-content: space-around;
}

footer .logo{
    align-self: center;
    max-width: 2em;
}

footer p{
    margin: 1%;
}


/*theme*/
.theme{
    background: white;
    display: flex;
    flex-direction: column;
}

/*images*/
.images{
    margin: 0% 10%;
}

/*theme*/
.theme h2{
    background: red;
    text-align: center;
    color: white;
    padding: 2% 5%;
    margin: 2% 0%;
    font-weight: bold;
    font-size: 26px;
}

/*theme-content*/

.theme-content{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.theme-content p{
    flex: 1;
    text-align: center;
    padding: 2%;
    font-size: 12px;
}

.theme-content-item{
    display: flex;
    margin: 2%;
/*    background-color: brown;
    border: 5px solid navy;*/
}

.theme-content-item p{
    flex: 1;
}

.theme-content-item .logo{
    width: 15%;
    align-self: flex-start;
}

.theme-content-item h3{
    flex: 4;
    margin: 0% 2%;
    font-weight: bold;
    align-self: center;
    font-size: 22px;
}

.theme-content-item-box{
    background-color: white;
    border: 5px solid black;
}

.theme-content-item-box h3{
    font-weight: bold;
}

/*history*/
#history p{
    font-size: 12px;
}

.history-content .theme-content-item-box{
    background-color: white;
    border: 5px solid black;
    flex: 1;
}

.history-content{
    display: flex;
    flex-direction: column;
    background-color: brown;
    border: 5px solid navy;
}

.row{
    display: flex;
}

.offer-content .theme-content-item{
    display: flex;
    /*
    background-color: brown;
    border: 5px solid navy;*/
    align-content: center;
}

.theme-content-item-boxlogo{
    /* background-color: white;
    border: 5px solid black; */
    flex: 1;
}

.theme-content-item-boxtext{
    /* background-color: white;
    border: 5px solid black; */
    flex: 5;
}

/*why*/
#why h3{
    text-transform: capitalize;
}

#why p{
    text-align: left;
}

/*contact*/
#contact .logo{
    height: 1em;
    width: 1em;
}

#contact .theme-content{
    background-color: #FF5454;;
    display: flex;
    flex-direction: column;
    margin: 5%;
   /* border: 5px solid orange;*/
    align-items: center;
}

/*services*/
#services .logo{
    width: 100%;
}

#services h3{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
}

#services li{
    text-transform: capitalize;
    list-style: disc inside;
    padding: 2% 2%;

}


/*generic*/
.italic{
    font-style: italic;
}